{
	"appId":"ONEXE01CE2A042113",
	"appKey":"ONEXE01CE2A042113_ANDROID",
	"base64Code":"",
	"packageName":"com.uhutu.miniapp.miniapp_android",
	"rootPath":"mpaas/android/ONEXE01CE2A042113-uhutumpaas",
	"workspaceId":"uhutumpaas",
	"syncport":"443",
	"syncserver":"mpaas-mss.aliyuncs.com",
	"logGW":"https://mpaas-mas-loggw.aliyuncs.com",
	"pushPort":"443",
	"pushGW":"mpaas-mps.aliyuncs.com",
	"mpaasapi":"https://cn-hangzhou-component-gw.cloud.alipay.com/mgw.htm",
	"rpcGW":"https://mpaas-mgs.aliyuncs.com/mgw.htm"
}